.about {
  height: 94vh;
  background: #f5f5f5;
}

.work {
  height: 94vh;
  background: #f5f5f5;
}

:root {
  --gap: 3rem;
  --card-width: clamp(250px, 15%, 75%);
  --card-aspect-ratio: 5 / 7;
  --card-height: calc(var(--card-width) * (7 / 5));
}

.gridWrapper {
  display: grid;
  place-items: center;
  font-family: "Google Sans", sans-serif, system-ui;
  overflow-x: hidden;
  justify-content: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, var(--card-width));
  gap: 1rem;
  /* overflow: hidden shouldn't break this? */
  overflow: hidden;
}

.column {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.column:not(:nth-of-type(3)) {
  animation: scale 1s linear both;
  animation-timeline: scroll(root);
}

/* The distance is the number of cards minus 100vh */
.column:is(:nth-of-type(2), :nth-of-type(4)) {
  --origin: calc(var(--gap) * -1);
  --destination: calc(var(--card-height) * 1.5 + var(--gap));
}
.column:is(:nth-of-type(1), :nth-of-type(5)) {
  --origin: calc(var(--gap) * -2);
  --destination: calc(var(--card-height) * 3.4 + var(--gap));
}

@keyframes scale {
  0% {
    transform: translateY(var(--origin, 0%));
  }
  100% {
    transform: translateY(var(--destination, -50%));
  }
}

.img {
  max-width: 100%;
  border: 0;
  padding: 0;
  max-height: 100%;
  width: 100%;
  aspect-ratio: 5 / 7;
  background: hsl(0 0% 80%);
}

.slide {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #3ed6c6, #00132f);
  color: #fafafa;
}

.slide .section {
  margin-top: 4rem;
}

.slide .section h4 {
  font-size: 5vw;
  font-weight: bold;
  margin: 0;
  background: linear-gradient(to bottom, #fafafa 60%, transparent);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: 3s infinite alternate floating;
  margin: 0.5rem auto 0px;
}
.slide .section h4::after,
.slide .section h4::before {
  display: unset;
  border-top: none;
  width: 4rem;
}

.slideOpp {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #fafafa, #dedede);
  color: #333;
}
.slideOpp .section h4 {
  background: linear-gradient(to bottom, #00132f, #fafafa);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0.5rem auto 0px;
  animation: 3s infinite alternate floating;
}

.slide p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.slide1 {
  color: #333;
}

.sliden {
  border-radius: 4rem 4rem 0 0;
}

.shadow {
  /* height: 2px;
  display: block;
  margin: 0.5rem auto;
  animation: 3s infinite alternate shadow; */
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes shadow {
  0% {
    width: 25rem;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
  }
  50% {
    width: 22rem;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
  }
  100% {
    width: 25rem;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
  }
}

.resume {
  height: 94vh;
  background: #f5f5f5;
}
.contact {
  height: 94vh;
  background: #f5f5f5;
}

.scrolldowns {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
  margin-top: 1rem;
}
.mousey {
  width: 3px;
  padding: 0px 8px;
  height: 29px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 5px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
.dark {
  border: 2px solid #333;
}
.sdark {
  background-color: #333;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.orbit {
  float: left;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

.orbitIcon {
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  font-size: 1.2em;
  border-radius: 50%;
  background: #ccc;
  color: #fff;
  text-align: center;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 2px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px 2px;
  padding: 0.15rem;
}

.orbitWrap {
  height: 40em;
  list-style: none;
  font-size: 1.3em;
}
.orbitWrap > li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.orbitWrap > li:hover ul {
  border-width: 2px;
  border-color: #fff;
}
.orbitWrap > li:hover ~ li ul {
  border-color: rgba(0, 0, 0, 0.4);
}
.orbitWrap > li:hover ~ li ul li {
  opacity: 0.4;
}

ul[class^="about-module--ring"] {
  transition: all 300ms ease-in-out;
}
ul[class^="about-module--ring"] li {
  transition: all 300ms ease-in-out;
}

.ring0 {
  width: 25em;
  height: 25em;
  -webkit-animation: clockwiseRotate 35s linear infinite;
  animation: clockwiseRotate 35s linear infinite;
}
.ring0 li::marker {
  content: none;
}
.ring0 svg {
  -webkit-animation: counterClockwiseRotate 35s linear infinite;
  animation: counterClockwiseRotate 35s linear infinite;
}

.ring0 > *:nth-of-type(1) {
  transform: rotate(95deg) translate(12.5em) rotate(-95deg);
}

.ring0 > *:nth-of-type(2) {
  transform: rotate(190deg) translate(12.5em) rotate(-190deg);
}

.ring0 > *:nth-of-type(3) {
  transform: rotate(285deg) translate(12.5em) rotate(-285deg);
}

.ring0 > *:nth-of-type(4) {
  transform: rotate(380deg) translate(12.5em) rotate(-380deg);
}

.ring1 {
  width: 20em;
  height: 20em;
  -webkit-animation: clockwiseRotate 30s linear infinite;
  animation: clockwiseRotate 30s linear infinite;
}
.ring1 li::marker {
  content: none;
}
.ring1 svg {
  -webkit-animation: counterClockwiseRotate 30s linear infinite;
  animation: counterClockwiseRotate 30s linear infinite;
}

.ring1 > *:nth-of-type(1) {
  transform: rotate(126.6666666667deg) translate(10em)
    rotate(-126.6666666667deg);
}

.ring1 > *:nth-of-type(2) {
  transform: rotate(253.3333333333deg) translate(10em)
    rotate(-253.3333333333deg);
}

.ring1 > *:nth-of-type(3) {
  transform: rotate(380deg) translate(10em) rotate(-380deg);
}

.ring2 {
  width: 15em;
  height: 15em;
  -webkit-animation: clockwiseRotate 25s linear infinite;
  animation: clockwiseRotate 25s linear infinite;
}
.ring2 li::marker {
  content: none;
}
.ring2 svg {
  -webkit-animation: counterClockwiseRotate 25s linear infinite;
  animation: counterClockwiseRotate 25s linear infinite;
}

.ring2 > *:nth-of-type(1) {
  transform: rotate(47.5deg) translate(7.5em) rotate(-47.5deg);
}

.ring2 > *:nth-of-type(2) {
  transform: rotate(95deg) translate(7.5em) rotate(-95deg);
}

.ring2 > *:nth-of-type(3) {
  transform: rotate(142.5deg) translate(7.5em) rotate(-142.5deg);
}

.ring2 > *:nth-of-type(4) {
  transform: rotate(190deg) translate(7.5em) rotate(-190deg);
}

.ring2 > *:nth-of-type(5) {
  transform: rotate(237.5deg) translate(7.5em) rotate(-237.5deg);
}

.ring2 > *:nth-of-type(6) {
  transform: rotate(285deg) translate(7.5em) rotate(-285deg);
}

.ring2 > *:nth-of-type(7) {
  transform: rotate(332.5deg) translate(7.5em) rotate(-332.5deg);
}

.ring2 > *:nth-of-type(8) {
  transform: rotate(380deg) translate(7.5em) rotate(-380deg);
}

.ring3 {
  width: 10em;
  height: 10em;
  -webkit-animation: clockwiseRotate 20s linear infinite;
  animation: clockwiseRotate 20s linear infinite;
}
.ring3 li::marker {
  content: none;
}
.ring3 svg {
  -webkit-animation: counterClockwiseRotate 20s linear infinite;
  animation: counterClockwiseRotate 20s linear infinite;
}

.ring3 > *:nth-of-type(1) {
  transform: rotate(126.6666666667deg) translate(5em) rotate(-126.6666666667deg);
}

.ring3 > *:nth-of-type(2) {
  transform: rotate(253.3333333333deg) translate(5em) rotate(-253.3333333333deg);
}

.ring3 > *:nth-of-type(3) {
  transform: rotate(380deg) translate(5em) rotate(-380deg);
}

ul[class^="about-module--ring"] {
  border: solid 1px var(--secondary);
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

ul[class^="about-module--ring"] li {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6em;
  height: 1.6em;
  margin: -0.8em;
}

/*
  center;
*/
.orbitCenter {
  z-index: 5;
  font-size: 2em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  background: var(--secondary);
  border-radius: 50%;
}
.orbitCenter:hover .orbitCenterIcon {
  transform: rotateZ(0deg);
}

.orbitCenterIcon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}

.orbitWrap > li.orbitCenter:hover ~ li > ul {
  width: 0;
  height: 0;
}
.orbitWrap > li.orbitCenter:hover ~ li > ul * {
  transform: translate(0, 0);
}

/* 
animations 
*/
@-webkit-keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* 
icons 
*/
.faAngular {
  background: snow;
  color: #b71c1c;
}
.faReact {
  background: snow;
  color: #58c4dc;
}

.faPython {
  background: #fbc02d;
  color: #03a9f4;
}

.faJs {
  background: #333;
  color: #fbc02d;
}
.faAws {
  background: #333;
  color: #fbc02d;
}

.faAtlassian {
  background: snow;
  color: #03a9f4;
}

.faNodeJs {
  background: snow;
  color: limegreen;
}

.faOpenai {
  background: white;
  color: #444;
}

.faMarkdown {
  background: white;
  color: #222;
}
.faBootstrap {
  background: snow;
  color: #cd6af5;
}
.faFigma {
  background: #cd6af5;
  color: snow;
}

.faMicrosoft {
  background: white;
  color: #03a9f4;
}
.faJira {
  background: snow;
  color: #03a9f4;
}

.faHtml5 {
  background: white;
  color: #e65100;
}

.faGitlab {
  background: white;
  color: #e65100;
}

.faCss3 {
  background: white;
  color: #2196f3;
}

.faDocker {
  background: white;
  color: #2196f3;
}

.faGit {
  background: #222;
  color: white;
}

.faFreeCodeCamp {
  background: green;
  color: white;
}

.faMeetup {
  background: red;
  color: white;
}

.faCodepen {
  background: #333;
  color: white;
}

@media only screen and (max-width: 576px) {
  .slide .section h4 {
    font-size: 12vw;
  }
  .slide .section {
    margin-top: 6rem;
  }
  .orbitIcon {
    font-size: 0.8em;
    padding: 0.15rem;
  }
  .ring0 {
    width: 16.5em;
    height: 16.5em;
  }
  .ring0 > *:nth-of-type(1) {
    transform: rotate(95deg) translate(8.25em) rotate(-95deg);
  }

  .ring0 > *:nth-of-type(2) {
    transform: rotate(190deg) translate(8.25em) rotate(-190deg);
  }

  .ring0 > *:nth-of-type(3) {
    transform: rotate(285deg) translate(8.25em) rotate(-285deg);
  }

  .ring0 > *:nth-of-type(4) {
    transform: rotate(380deg) translate(8.25em) rotate(-380deg);
  }
  .ring1 {
    width: 13.5em;
    height: 13.5em;
  }
  .ring1 > *:nth-of-type(1) {
    transform: rotate(126.6666666667deg) translate(6.85em)
      rotate(-126.6666666667deg);
  }

  .ring1 > *:nth-of-type(2) {
    transform: rotate(253.3333333333deg) translate(6.85em)
      rotate(-253.3333333333deg);
  }

  .ring1 > *:nth-of-type(3) {
    transform: rotate(380deg) translate(6.85em) rotate(-380deg);
  }
  .ring2 {
    width: 10.5em;
    height: 10.5em;
  }
  .ring2 > *:nth-of-type(1) {
    transform: rotate(47.5deg) translate(5.25em) rotate(-47.5deg);
  }

  .ring2 > *:nth-of-type(2) {
    transform: rotate(95deg) translate(5.25em) rotate(-95deg);
  }

  .ring2 > *:nth-of-type(3) {
    transform: rotate(142.5deg) translate(5.25em) rotate(-142.5deg);
  }

  .ring2 > *:nth-of-type(4) {
    transform: rotate(190deg) translate(5.25em) rotate(-190deg);
  }

  .ring2 > *:nth-of-type(5) {
    transform: rotate(237.5deg) translate(5.25em) rotate(-237.5deg);
  }

  .ring2 > *:nth-of-type(6) {
    transform: rotate(285deg) translate(5.25em) rotate(-285deg);
  }

  .ring2 > *:nth-of-type(7) {
    transform: rotate(332.5deg) translate(5.25em) rotate(-332.5deg);
  }

  .ring2 > *:nth-of-type(8) {
    transform: rotate(380deg) translate(5.25em) rotate(-380deg);
  }
  .ring3 {
    width: 7em;
    height: 7em;
  }

  .ring3 > *:nth-of-type(1) {
    transform: rotate(126.6666666667deg) translate(3.5em)
      rotate(-126.6666666667deg);
  }

  .ring3 > *:nth-of-type(2) {
    transform: rotate(253.3333333333deg) translate(3.5em)
      rotate(-253.3333333333deg);
  }

  .ring3 > *:nth-of-type(3) {
    transform: rotate(380deg) translate(3.5em) rotate(-380deg);
  }
}
@media only screen and (min-width: 601px) {
}
