.about {
  height: 94vh;
  background: #f5f5f5;
}

.work {
  height: 94vh;
  background: #f5f5f5;
}

:root {
  --gap: 3rem;
  --card-width: clamp(250px, 15%, 75%);
  --card-aspect-ratio: 5 / 7;
  --card-height: calc(var(--card-width) * (7 / 5));
}

.gridWrapper {
  display: grid;
  place-items: center;
  font-family: "Google Sans", sans-serif, system-ui;
  overflow-x: hidden;
  justify-content: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, var(--card-width));
  gap: 1rem;
  /* overflow: hidden shouldn't break this? */
  overflow: hidden;
}

.column {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.column:not(:nth-of-type(3)) {
  animation: scale 1s linear both;
  animation-timeline: scroll(root);
}

/* The distance is the number of cards minus 100vh */
.column:is(:nth-of-type(2), :nth-of-type(4)) {
  --origin: calc(var(--gap) * -1);
  --destination: calc(var(--card-height) * 1.5 + var(--gap));
}
.column:is(:nth-of-type(1), :nth-of-type(5)) {
  --origin: calc(var(--gap) * -2);
  --destination: calc(var(--card-height) * 3.4 + var(--gap));
}

@keyframes scale {
  0% {
    transform: translateY(var(--origin, 0%));
  }
  100% {
    transform: translateY(var(--destination, -50%));
  }
}

.img {
  max-width: 100%;
  border: 0;
  padding: 0;
  max-height: 100%;
  width: 100%;
  aspect-ratio: 5 / 7;
  background: hsl(0 0% 80%);
}

.slide {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #3ed6c6, #00132f);
  color: #fafafa;
}

.slide .section {
  margin-top: 4rem;
}

.slide .section h4 {
  font-size: 5vw;
  font-weight: bold;
  margin: 0;
  background: linear-gradient(to bottom, #fafafa 60%, transparent);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: 3s infinite alternate floating;
  margin: 0.5rem auto 0px;
}
.slide .section h4::after,
.slide .section h4::before {
  display: unset;
  border-top: none;
  width: 4rem;
}

.slideOpp {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #fafafa, #dedede);
  color: #333;
}
.slideOpp .section h4 {
  background: linear-gradient(to bottom, #00132f, #fafafa);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0.5rem auto 0px;
  animation: 3s infinite alternate floating;
}

.slide p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.slide1 {
  color: #333;
}

.sliden {
  border-radius: 4rem 4rem 0 0;
}

.shadow {
  /* height: 2px;
  display: block;
  margin: 0.5rem auto;
  animation: 3s infinite alternate shadow; */
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes shadow {
  0% {
    width: 25rem;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
  }
  50% {
    width: 22rem;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
  }
  100% {
    width: 25rem;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
  }
}

.resume {
  height: 94vh;
  background: #f5f5f5;
}
.contact {
  height: 94vh;
  background: #f5f5f5;
}

.scrolldowns {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
  margin-top: 1rem;
}
.mousey {
  width: 3px;
  padding: 0px 8px;
  height: 29px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 5px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
.dark {
  border: 2px solid #333;
}
.sdark {
  background-color: #333;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@media only screen and (max-width: 576px) {
  .slide .section h4 {
    font-size: 12vw;
  }
  .slide .section {
    margin-top: 6rem;
  }
}
@media only screen and (min-width: 601px) {
}
