.section {
  color: var(--secondary);
}
.section ul  {
  padding-left: .5rem;
}
.section ul li {
  text-overflow: ellipsis;
  list-style: none;
  padding: 0.5rem 0;
}
.section ul li a {
  text-decoration: none;
  color: var(--secondary);
}
.section ul li a:hover {
  border-bottom: 2px solid var(--secondary);
}
.home {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
.home a {
  text-decoration: none;
}
.trayBack {
  font-size: 1.5rem;
  margin: 0rem .5rem;
}
.traySection{
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
}
.traySection div a {

  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--secondary);
  white-space: nowrap
}
.tray>div{
  display: flex;
  flex-flow: row nowrap;

}
@media only screen and (max-width: 576px) {
  .tray {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: var(--bq-bg);
    box-shadow: rgba(0, 0, 0, 0.05) 0px -4px 6px -2px,rgba(0, 0, 0, 0.1) 0px -10px 15px -3px;
    display: block;
    padding: .75rem;
  }
}
@media only screen and (min-width: 601px) {
  .tray {
    display: none;
  }
}
