.authAction {
  all: unset;
  cursor: pointer;
  padding: 0.25rem 0.8rem;
  border-left: 1px solid #333;
  font-size: 1.5rem;
}
loader {
  font-size: 50px;
  display: inline-block;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
