.container {
  display: flex;
  flex-flow: row nowrap;
}
.book {
  background: #fff;
  height: 100%;
  overflow: auto;
  padding: 0.75rem 1.5rem;
  min-width: 80%;
  max-width: 80%;
  width: 80%;
}
.book p {
  text-align: justify;
}
.book div ul li p {
  margin: 0.3rem 0;
}
.book p > code {
  background: var(--bg-grey);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: var(--global-fs);
}
.book ul > li > code {
  background: var(--bg-grey);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: var(--global-fs);
}
.book h2,
.book h3,
.book h4,
.book h5,
.book h6 {
  margin: 3rem 0 1.5rem 0;
  background-image: linear-gradient(to left, #001229, #2fd9c9 90%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.book h2 {
  text-align: center;
}
.book h2::before,
.book h2::after {
  display: inline-block;
  content: "";
  border-top: 0.15rem solid #ccc;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-0.5rem);
}
.book h3::after {
  display: inline-block;
  content: "";
  border-top: 2px solid #ccc;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-0.5rem);
}
.book p:has(img) {
  display: block;
  text-align: center;
}
.book h1 {
  color: #333;
  text-align: center;
  display: block;
  word-break: break-all;
}
.book cite {
  color: var(--secondary);
  text-align: center;
  display: block;
  margin-bottom: 2rem;
}
.html {
  margin-top: 2rem;
}
.np {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 1rem;
}
.np a {
  padding: 0.5rem;
  color: #3ce8d64a;
  text-decoration: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.np a:hover {
  background: #282a36;
}
.footer {
  font-size: var(--global-fs-sm);
  text-align: center;
  margin: 1rem 0;
}
.footer img {
  width: 14px;
}
p img {
  max-width: 90%;
}

.tableOfContent {
  position: fixed;
  top: 3.5rem;
  height: 89%;
  overflow: auto;
  direction: rtl;
}
.tableOfContent h4 {
  direction: ltr;
  text-align: center;
  font-size: 2rem;
}
.tableOfContent ul {
  list-style: none;
  border-left: 2px solid grey;
  padding-left: 1rem;
  direction: ltr;
}
.tableOfContent ul:nth-child(2) {
  border: none;
}
.tableOfContent ul li {
  padding: 0.1rem 0;
  font-style: italic;
  font-size: 0.75rem;
}
.tableOfContent ul li p {
  margin: 0.25rem 0;
}
.tableOfContent ul li a {
  text-decoration: none;
  color: var(--secondary);
}
.tableOfContent ul li a code {
  font-size: 0.75rem;
}
.tags {
  font-size: var(--global-fs-sm);
  color: var(--table-caption);
}
.tags p {
  margin: 0;
}
.tags > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 576px) {
  .tray {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: "#F1F8E8";
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .tableOfContentMobile {
    position: relative;
  }
  .tableOfContentMobile h4 {
    background: unset;
    color: var(--table-caption);
    margin: 0.25rem 0;
    font-size: 1rem;
  }
  .tableOfContentMobile ul {
    list-style: none;
    padding-left: 1rem;
  }
  .tableOfContentMobile ul li {
    padding: 0.1rem 0;
    font-style: italic;
    font-size: 0.75rem;
  }
  .tableOfContentMobile ul li p {
    margin: 0.25rem 0;
  }
  .tableOfContentMobile ul li a {
    text-decoration: none;
    color: var(--secondary);
  }
  .book {
    background: #fff;
    height: 100%;
    overflow: auto;
    padding: 0.25rem;
    min-width: 100%;
  }
  .tableOfContent {
    display: none;
  }
  p img {
    max-width: 100%;
  }

  .book h2::before,
  .book h2::after {
    width: 1rem;
  }
  .book h3::after {
    width: 1rem;
  }
}
@media only screen and (min-width: 601px) {
  .tray {
    display: none;
  }
  .tableOfContentMobile {
    display: none;
  }
}
details {
  border: 1px solid var(--secondary);
  border-radius: 1rem 0 1rem;
  margin: 1rem 0;
}
details > div {
  padding: 0.8rem;
  margin: 0;
  border-radius: 0 0 1rem;
}

details summary {
  padding: 0.8rem;
  background: #f5f2f0;
  border-radius: 1rem 0 1rem;
  font-style: italic;
  font-family: cursive;
  list-style: none;
}
details[open] summary {
  border-radius: 1rem 0 0rem;
}
details summary::webkit-details-marker {
  display: none;
}

details summary ::details-content {
  transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
  height: 0;
  overflow: clip;
}
[open]::details-content {
  height: auto;
  transition: 400ms ease-out;
}

details summary::after {
  content: "â“";
}

.gatsby-highlight pre code span.operator.token {
  background: transparent;
}
