.books {
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
}
.books a {
  margin: auto;
}
.book2 {
  min-height: 100px;
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.title {
  margin-top: 4rem;
  padding: 0.5rem;
}
.desc {
  color: grey;
}
.link {
  position: relative;
}
.link:hover {
  border-bottom: 2px solid white;
}
.bookWrapper {
  max-width: calc(100% / 4);
  min-width: 10em;
  cursor: pointer;
}
.book {
  height: 250px;
  width: 175px;
  position: relative;
  transition: 0.4s ease-in-out;
  border-radius: 5px 15px 15px 5px;
  transform-origin: left center 0px;
  display: inline-block;
  margin: 30px;
  perspective: 800px;
}
.book:hover {
  transform: rotateZ(-10deg);
}
.book:hover .bookCover {
  transform: rotateY(-50deg);
  z-index: 999;
  box-shadow: 20px 10px 50px rgba(0, 0, 0, 0.2);
}
.bookCover {
  background: linear-gradient(128.87deg, #cc4b48 14.05%, #ca6e6d 89.3%);
  height: 250px;
  width: 175px;
  position: absolute;
  border-radius: 5px 15px 15px 5px;
  z-index: 10;
  transition: 0.5s linear;
  transform-style: preserve-3d;
  transform-origin: left center 0px;
}
.bookCover:before {
  content: "";
  position: absolute;
  width: 10px;
  height: calc(100% + 2px);
  top: -1px;
  z-index: 100;
  border-radius: 2px;
  right: 25px;
  transition: 2s ease;
  background: linear-gradient(
    to right,
    #9c2e2b 0%,
    #cc4b48 12%,
    #9c2e2b 25%,
    #cc4b48 37%,
    #9c2e2b 50%,
    #cc4b48 62%,
    #9c2e2b 75%,
    #cc4b48 87%,
    #9c2e2b 100%
  );
}

.bookCover.purple {
  background: linear-gradient(
    128.87deg,
    rgb(151, 128, 229) 14.05%,
    rgb(230, 102, 204) 89.3%
  );
}
.bookCover.purple:before {
  background: linear-gradient(
    to right,
    rgb(151, 128, 229) 0%,
    rgb(105, 67, 230) 12%,
    rgb(151, 128, 229) 25%,
    rgb(105, 67, 230) 37%,
    rgb(151, 128, 229) 50%,
    rgb(105, 67, 230) 62%,
    rgb(151, 128, 229) 75%,
    rgb(105, 67, 230) 87%,
    rgb(151, 128, 229) 100%
  );
}

.bookCover.blue {
  background: linear-gradient(128.87deg, #3471a3 14.05%, #6387a5 89.3%);
}
.bookCover.blue:before {
  background: linear-gradient(
    to right,
    #1e606e 0%,
    #429feb 12%,
    #1e606e 25%,
    #429feb 37%,
    #1e606e 50%,
    #429feb 62%,
    #1e606e 75%,
    #429feb 87%,
    #1e606e 100%
  );
}
.bookCover.green {
  background: linear-gradient(128.87deg, #2caf2e 14.05%, #62a166 89.3%);
}
.bookCover.green:before {
  background: linear-gradient(
    to right,
    #0f6310 0%,
    #62a166 12%,
    #0f6310 25%,
    #62a166 37%,
    #0f6310 50%,
    #62a166 62%,
    #0f6310 75%,
    #62a166 87%,
    #0f6310 100%
  );
}
.bookCover.yellow {
  background: linear-gradient(128.87deg, #be9612 14.05%, #efbe24 89.3%);
}
.bookCover.yellow:before {
  background: linear-gradient(
    to right,
    #e4a125 0%,
    #be9612 12%,
    #e4a125 25%,
    #be9612 37%,
    #e4a125 50%,
    #be9612 62%,
    #e4a125 75%,
    #be9612 87%,
    #e4a125 100%
  );
}

.bookSkin {
  height: 50px;
  background: #e8e8e0;
  margin-top: 80px;
  padding: 15px;
  font-size: 1rem;
  position: relative;
  z-index: 10;
  color: #222;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.bookSkin:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  left: 0;
  bottom: 0;
  background: #cddc39;
}

.bookPage {
  height: 100%;
  width: 175px;
  position: absolute;
  background-color: #fbfae8;
  z-index: 0;
  border-radius: 5px 16px 16px 5px;
  overflow: hidden;
}
.bookPage.ruled {
  background: linear-gradient(to bottom, #fbfae8 9px, #e4e4e4 1px);
  background-size: 100% 10px;
}
.bookPage.squared {
  background-image: linear-gradient(#e4e4e4 1px, transparent 1px),
    linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
}
.bookPage.dotted {
  background: linear-gradient(90deg, #fbfae8 10px, transparent 1%) center,
    linear-gradient(#fbfae8 10px, transparent 1%) center, #999;
  background-size: 11px 11px;
}
